<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tacademy.bikee">

    <uses-permission android:name="com.google.android.providers.gfs.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".etc.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_a"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAgzFLJmOeRZX_RkomOPgs8ceG-bYy3lmg" />

        <receiver android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.vanillastepdev.example.gcm" />
            </intent-filter>
        </receiver>
                <service
        android:name=".etc.gcm.MyGcmListenerService"
        android:exported="false">
                    <intent-filter>
                        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    </intent-filter>
                </service>
        <service android:name=".etc.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service android:name=".etc.gcm.RegistrationIntentService"
            android:exported="false"></service>

        <activity
            android:name=".common.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".renter.RenterMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.sidemenu.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.sidemenu.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".renter.searchresult.filter.FilterActivity"
            android:label="@string/title_activity_filter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.chatting.ChattingRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".renter.searchresult.bicycledetailinformation.FilteredBicycleDetailInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".renter.searchresult.bicycledetailinformation.postscription.BicyclePostScriptListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".renter.reservationbicycle.InputBicyclePostScriptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".renter.searchresult.bicycledetailinformation.finallyrequestreservation.FinallyRequestReservationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".renter.reservationbicycle.RenterReservationBicycleDetailInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".renter.sidemenu.cardmanagement.CardManagementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".renter.sidemenu.evaluatingbicycle.EvaluatingBicyclePostScriptListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.sidemenu.AuthenticationInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.sidemenu.InputInquiryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".renter.sidemenu.cardmanagement.RegisterCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lister.ListerMainActivity"
            android:label="@string/title_activity_lister_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lister.requestedbicycle.ListerRequestedBicycleDetailInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lister.sidemenu.evaluatedbicycle.EvaluatedBicyclePostScriptListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lister.sidemenu.owningbicycle.OwningBicycleDetailInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lister.sidemenu.owningbicycle.OwningBicycleListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lister.sidemenu.owningbicycle.registerbicycle.RegisterBicycleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lister.sidemenu.owningbicycle.registerbicycle.FinallyRegisterBicycleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.SmallMapActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".renter.reservationbicycle.RequestPaymentActivity" />
        <activity android:name=".lister.sidemenu.owningbicycle.registerbicycle.page2.TempActivity"></activity>
        <activity
            android:name=".lister.sidemenu.owningbicycle.registerbicycle.page4.camera.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lister.sidemenu.owningbicycle.registerbicycle.page4.gallery.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
