<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tacademy.bikee" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".etc.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAu8afjq-HRqTqYUvovbcs4-o3XPGWzrfQ" />

        <activity
            android:name=".renter.RenterMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".renter.searchresult.FilterActivity"
            android:label="@string/title_activity_filter" />
        <activity android:name=".common.chatting.ChattingRoomActivity" />
        <activity android:name=".renter.searchresult.FilteredBicycleDetailInformationActivity" />
        <activity android:name=".renter.searchresult.BicyclePostScriptListActivity" />
        <activity android:name=".renter.reservationbicycle.InputBicyclePostScriptActivity" />
        <activity android:name=".renter.searchresult.FinallyRequestReservationActivity" />
        <activity android:name=".renter.reservationbicycle.RenterReservationBicycleDetailInformationActivity" />
        <activity android:name=".renter.sidemenu.cardmanagement.CardManagementActivity" />
        <activity android:name=".renter.sidemenu.evaluatingbicycle.EvaluatingBicyclePostScriptListActivity" />
        <activity android:name=".common.sidemenu.AuthenticationInformationActivity" />
        <activity android:name=".common.sidemenu.InputInquiryActivity" />
        <activity android:name=".renter.sidemenu.cardmanagement.RegisterCardActivity" >
        </activity>
        <activity
            android:name=".lister.ListerMainActivity"
            android:label="@string/title_activity_lister_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".lister.requestedbicycle.ListerRequestedBicycleDetailInformationActivity" >
        </activity>
        <activity android:name=".lister.sidemenu.evaluatedbicycle.EvaluatedBicyclePostScriptListActivity" >
        </activity>
        <activity android:name=".lister.sidemenu.owningbicycle.OwningBicycleDetailInformationActivity" >
        </activity>
        <activity android:name=".lister.sidemenu.owningbicycle.OwningBicycleListActivity" >
        </activity>
        <activity android:name=".lister.sidemenu.owningbicycle.registerbicycle.RegisterBicycleActivity" >
        </activity>
        <activity android:name=".lister.sidemenu.owningbicycle.registerbicycle.FinallyRegisterBicycleActivity" >
        </activity>
        <activity android:name=".common.SmallMapActivity" >
        </activity>
    </application>

</manifest>
